ibm-watsonx-ai
pgvector
fastapi[standard]==0.110.0
sqlalchemy>=2.0.30
alembic>=1.13.1
asyncpg>=0.30.0
redis==5.0.3
pydantic-settings==2.2.1
python-multipart==0.0.9
uvicorn==0.28.0
ibm-watsonx-ai==1.5.13
slowapi
pytest
pytest-asyncio
httpx
tenacity==8.3.0
pytest==8.0.0
pytest-asyncio==0.23.5
Pillow>=10.0.0
numpy>=1.24.0
